.App {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
.tictac {
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  width: 246px;
  height: 246px;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  align-content: stretch;
}

.tictac .tic {
  border-radius: 3px;
  width: 80px;
  height: 80px;
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 0, 0);
  border: 1px solid #000000;
}
.tictac .win {
  color: rgb(255, 255, 255);
}
.result {
  border-radius: 5px;
  width: 246px;
  height: 40px;
  background-color: #ff0000;
  color: #ffffff;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.dis {
  display: none;
}
button {
  width: 246px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.btn_win,
.r_color {
  background: #1cba00;
}
.btn_over {
  background: #ff0000;
}
